# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
firebase-debug.log

# macOS
.DS_Store
*.pem

# Env files
.env
.env.*
server/.env
server/node_modules/

# API keys and Service Accounts
*.json
!package.json
!package-lock.json
!tsconfig.json
!app.json
!eas.json
!jamia_hamdard_data.json
!server/package.json
!server/package-lock.json

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
